.center {
    margin-left:auto; 
    margin-right:auto;
  }

body {
    text-align: center;
}
table {
    text-align: center;
}
.title-example {
    color: red;
    font-weight: normal;
    text-decoration: overline;
}
.post{
    border: dotted black;
}